/* SCSS */
/* Coolors Exported Palette - coolors.co/695958-323031-edeec9-dde7c7-cedada */

/*
	Color1	Wenge (dark brown)
	Color2	Jet (black)
	Color3	Pale Spring Bud (cream)
	Color4	Bone (very light green)
	Color5	Gainsboro (very light blue)
*/

/* HSL */
$color1: hsla(4%, 9%, 38%, 1);
$color2: hsla(330%, 2%, 19%, 1);
$color3: hsla(62%, 52%, 86%, 1);
$color4: hsla(79%, 40%, 84%, 1);
$color5: hsla(180%, 14%, 83%, 1);

/* RGB */
$color1: rgba(105, 89, 88, 1);
$color2: rgba(50, 48, 49, 1);
$color3: rgba(237, 238, 201, 1);
$color4: rgba(221, 231, 199, 1);
$color5: rgba(206, 218, 218, 1);
